# Lab Assignment 2 – GG3209 – Python Part

## Introduction
**Student ID:** 210037459

**GitHub Repository:** https://github.com/noefine/Assignment_2_210037459

## Part 1: Python Basics

### 1.2 Create a script that calculates the average of a list of numbers:

* In the following cell, I created a list of numbers [1, 2, 3, 4, 5]
* Then, I created a function that returned the average of a list of numbers
* I called the function with my list of numbers
* I printed my result

In [ ]:
numbers = [1,2,3,4,5]
def calculate_average (numlist) :
    average = sum(numlist)/len(numlist)
    return average
result = calculate_average(numbers)
print(result)

### 1.3 What's the purpose

* In the following cell, I describe the purpose of the first two expressions of the code below and explain what they do

```
import pandas as pd
import geopandas as gpd
dat = pd.read_csv('data/world_cities.csv')  ## Import CSV file
geom = gpd.points_from_xy(dat['lon'], dat['lat'])
geom = gpd.GeoSeries(geom)
dat = gpd.GeoDataFrame(dat, geometry = gpd.GeoSeries(geom), crs = 4326)
dat.to_file('output/world_cities.shp')      ## Export Shapefile
```

The first expression, **import pandas as pd**, imports the Pandas library and gives it the shortcut name pd. Pandas is used for working with data tables. The second expression, **import geopandas as gpd**, imports GeoPandas, a library that extends Pandas for working with spatial/geographic data. It gives GeoPandas the shortcut name gpd.

### 1.4 Indentation

* In the following cell, I address the indentation issue in the following code by deleting the indentation on the second line.

In [ ]:
#Fixed code:
name = 'Dave'
dogs = 0
print('My name is', name, 'and I own', dogs, 'dogs.')

### 1.5 Strings
* In the following code cell, I create a script where I print a string and integer variables

In [ ]:
a = "I am "
b = 20
c = " years old."
print(a,b,c)

### 1. 6 Nested *if* conditions

* In the following cell, I will fix the indentation issues in the code

In [ ]:
#Fixed code:
season = "Winter"
temperature = 10

if season == "Winter":

     if temperature > 7:
         print("No need for winter jacket!")

     else:
         print("It might be cold! Wear a proper jacket!")

elif season == "Summer":

     if temperature > 20:
         print("It's warm! Time to wear shorts!")

     else:
         print("Well this is Finland, better wear long trousers!")
else:
     print("Check the weather forecast!")

* In the following code cell, I create a script with several nested *if* conditions.

In [ ]:
#The price of movie tickets for an individual at the movie theatre:
# Define the customer's age and membership status
age = 16
has_membership = True

# Check age category first
if age < 12:
    # Child tickets
    if has_membership:
        print("Child ticket with membership discount: $6")
    else:
        print("Child ticket: $8")

elif age < 18:
    # Teen tickets
    if has_membership:
        print("Teen ticket with membership discount: $9")
    else:
        print("Teen ticket: $12")

elif age < 65:
    # Adult tickets
    if has_membership:
        print("Adult ticket with membership discount: $13")
    else:
        print("Adult ticket: $16")

else:
    # Senior tickets
    if has_membership:
        print("Senior ticket with membership discount: $7")
    else:
        print("Senior ticket: $9")

### 1.7 Functions

* In the following code cell, I create a function that transforms miles to kms
* Then, I use the print function to show the results

In [ ]:
# Define a function to convert miles to kilometers
def miles_to_km(miles):
    #Converts miles to kilometers (1 mile = 1.60934 kilometers)

    km = miles * 1.60934
    return km

#Define the miles distance
miles_distance = 10
#Call the function using the miles distance
km_distance = miles_to_km(miles_distance)
#print result
print(km_distance)

### 1.8 Create a script that generates a multiplication table:

* In the following code cell, I write a function that takes an integer as input and generates a multiplication table for that number, from 1 to 10.
* I, then, call the function with a few different numbers (3, 7, 23) and print the results.

In [ ]:
# Function to generate multiplication table as a list
def multiplication_table(integer):
    # create an empty list
    results = []
    #calculate multiplication
    for i in range(1, 11):
        results.append(integer * i)
    #return the results list
    return results

# Call the function for a few numbers
table_3 = multiplication_table(3)
table_7 = multiplication_table(7)
table_23 = multiplication_table(23)

# Print the results outside the function
print("Multiplication table for 3:", table_3)
print("Multiplication table for 7:", table_7)
print("Multiplication table for 23:", table_23)

### 1.9 Loops

* In the following code cell, I define a list named *lunch*
* Then, I use a **for loop** and **conditionals** to create a dictionary with the count of each item in lunch.
* Lastly, I print the result

In [ ]:
# Define a list called lunch
lunch = [
    'Salad',
    'Salad',
    'Apple',
    'Orange',
    'Orange',
    'Egg',
    'Beef',
    'Potato',
    'Tea',
    'Soup',
    'Potato',
    'Potato',
    'Potato',
    'Coffee'
]

# Create an empty dictionary to store the count of each item
lunch_count = {}
# Loop through each item in the lunch list
for i in lunch:
  # Check if the item is already in the dictionary
    if i in lunch_count:
        #if it is in the dictionary, increment its count by 1
        lunch_count[i] += 1
    else:
         # if not, add it to the dictionary with count 1
        lunch_count[i] = 1
#Print the final dictionary with the count for each item
print(lunch_count)

### 1.10 Read files

* In the following code cell, I create a script that reads and prints the **latest_earthquake_world.csv** file
* I use **pandas** to print the first 30 rows.

In [ ]:
# Import pandas library
import pandas as pd

# Read the CSV file from my google drive
from google.colab import drive
drive.mount('/content/drive')
earthquakes = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Latest_earthquake_world.csv')

# Print the first 30 rows
earthquakes.head(30)

## Part 2: Numpy and Pandas

### Practicing NumPy

#### 2.0 Import numpy under the alias np

In [ ]:
#Import the numpy library with shortcut np
import numpy as np

#### 2.1 Create the following arrays

* Create an array of 10 ones.

* Create an array of the integers 1 to 20.

* Create a 5 x 5 matrix of ones with a dtype int.

In [ ]:
# Create a 1D array of length 10, filled with 1s using np.tile(value, count)
arr1 = np.tile(1, 10)

# Create a 1D array with values from 1 to 20 using np.arange(start, stop, step)
arr2 = np.arange(1, 21, 1, dtype="int")

# Create a 3D array of ones with np.ones(shape) with the shape of (1, 5, 5) filled with ones
arr3 = np.ones((1, 5, 5), dtype="int")

# Print the arrays
print(arr1)
print(arr2)
print(arr3)

#### 2.2 Use numpy to:
* Create an 3D matrix of 3 x 3 x 3 full of random numbers drawn from a standard normal distribution
* Reshape the above array into shape (27,)

In [ ]:
# Create a 3x3x3 array with random numbers from a standard normal distribution using np.random.randn(dim1, dim2, dim3)
arr4 = np.random.randn(3, 3, 3)

# Reshape the 3D array into a 1D array of length 27
reshapedarr4 = arr4.reshape(27,)

# Print the original 3D array
print(arr4)

# Print the reshaped array
print(reshapedarr4)

#### 2.3 Create an array of 20 linearly spaced numbers between 1 and 10

In [ ]:
#Create an array of 20 linearly spaced numbers between 1 and 10 using np.linspace(start, stop, count) with count being the number of evenly spaced numbers
arr5 = np.linspace(1,10,20)

#Print the array
print(arr5)

#### 2.4 Run the following code to create an array of shape 4 x 4 and then use indexing to produce the outputs shown below.

In [ ]:
a = np.arange(1, 26).reshape(5, -1)
print(a)

In [ ]:
#Code to get the output of 20:
print(a[3,4])

In [ ]:
# Code to get the output of:
#  [[ 9 10]
#  [14 15]
#  [19 20]
#  [24 25]]

print(a[1:, 3:])

In [ ]:
#Code to get the output of [ 6  7  8  9 10]:
print(a[1,:])

#### 2.5 Calculate the sum of all numbers in a

In [ ]:
#Calculate the sum of all numbers in a using np.sum(array)
asum = np.sum(a)

#Print the result
print(asum)

#### 2.6 Calculate the sum of each row in a

In [ ]:
# Calculate the sum of each row using np.sum(array, axis=1)
arowsums = np.sum(a, axis=1)

#Print the sums of each row
print(arowsums)

#### 2.7 Extract all values of a greater than the mean of a

In [ ]:
# Calculate the mean of all values in a using np.mean(array)
amean = np.mean(a)

# Select values that are greater than the mean
greaterthanmean = a[a > amean]

# Print the valus greater than the mean
print(greaterthanmean)

### Practicing Pandas

#### 2.8 Import pandas under alias pd

In [ ]:
##Import the pandas library with shortcut pd
import pandas as pd

#### 2.9 Import the carbon footprint dataset as a dataframe named 'df'

In [ ]:
# Define 'df' as the CSV file from the URL <https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv>
df = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-02-18/food_consumption.csv')

# Display the first few rows to make sure it loaded correctly
df.head()

#### 2.10 How many rows and columns are there in the data frame?

In [ ]:
# Get the shape of the DataFrame and unpack into two variables (rows, columns)
rows, columns = df.shape

#Print the results
print("Number of rows:", rows)
print("Number of columns:", columns)

#### 2.11 What is the mean `co2_emission` of the whole dataset?

In [ ]:
# Calculate the mean of the 'co2_emmission' column in df using .mean()
co2_emissions_mn = df["co2_emmission"].mean()

#Print the mean
print(co2_emissions_mn)

#### 2.12 What is the maximum `co2_emmission` in the dataset and which food type and country does it belong to?

In [ ]:
# Calculate the maximum value of the 'co2_emmission' column in df uisng .max()
co2_emissions_max = df["co2_emmission"].max()

#  Select the row where the CO2 emission equals the maximum value
max_co2_row = df[df["co2_emmission"] == co2_emissions_max]

# Get the food category from the row with maximum CO2 emission
food_type = max_co2_row["food_category"].values[0]
# Get the country from the row with maximum CO2 emission
country = max_co2_row["country"].values[0]

# Print the results
print("Maximum CO2 emission: ", co2_emissions_max)
print("Food type: ", food_type)
print("Country: ", country)

#### 2.13 How many countries produce more than 1000 Kg CO2/person/year for at least one food type?

In [ ]:
# Select rows where CO2 emission is greater than 1000
high_emission_df = df[df["co2_emmission"] > 1000]

# Count the number of unique countries in the filtered DataFrame (high_emission_df) using .nunique()
countries_with_high_emission = high_emission_df["country"].nunique()

#Print the results
print(countries_with_high_emission)

#### 2.14 Which country consumes the least amount of beef per person per year?

In [ ]:
# Filter df to include only rows where the food category is "Beef"
beef_consumption_df = df[df["food_category"] == "Beef"]

# Find the row with the minimum CO2 emission for beef consumption using .idxmin() to get the index of the row and .loc to select the row as a series
least_beef_country_row = beef_consumption_df.loc[beef_consumption_df["co2_emmission"].idxmin()]

# Extract the country name from that row
least_beef_country = least_beef_country_row["country"]

# Extract the CO2 emission value from that row
least_beef_consumption = least_beef_country_row["co2_emmission"]

# Print the results
print("The country that consumes the least amount of beef per person per year is ", least_beef_country, " with ", least_beef_consumption, " kg CO2/person/year.")

#### 2.15 What is the total emissions of all the meat products (Pork, Poultry, Fish, Lamb & Goat, Beef) in the dataset combined?

In [ ]:
# Define a list of meat products
meat_products = ["Pork", "Poultry", "Fish", "Lamb & Goat", "Beef"]

# Filter df to include only rows where the food category is in the meat_products list using .isin(list)
meat_df = df[df["food_category"].isin(meat_products)]

# Calculate the total CO2 emissions for the meat products using .sum() on the filtered DataFrame
total_meat_emissions = meat_df["co2_emmission"].sum()

# Print the total CO2 emissions from meat consumption
print(total_meat_emissions)

#### 2.16 What is the total emissions of all other (non-meat) products in the dataset combined?

In [ ]:
# Filter df to include only non-meat food categories by using ~ to invert the boolean mask
non_meat_df = df[~df["food_category"].isin(meat_products)]

# Calculate the total CO2 emissions for non-meat food products using .sum()
total_non_meat_emissions = non_meat_df["co2_emmission"].sum()

#Print the result
print(total_non_meat_emissions)

### Final Exercise

#### Read the `world_cities.csv` file as a Pandas DataFrame

In [ ]:
#Define 'world_cities' as the CSV file world_cities.csv
world_cities = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/world_cities.csv')

# Display the first few rows to make sure it loaded correctly
world_cities.head()

#### Calculate a new column named "pop_M" (population in millions) by transforming the "pop" (population) column.

In [ ]:
# Calculate the new column 'pop_M' by dividing the values in 'pop' by one million
world_cities["pop_M"] = world_cities["pop"] / 1000000

In [ ]:
# Remove the original 'pop' column using inplace=True to modify the DataFrame directly
world_cities.drop(columns="pop", inplace=True)

In [ ]:
# Display the first few rows to verify the changes
world_cities.head()

#### Choose/subset a city that starts with the same letter as your first name (N)

In [ ]:
# Subset the DataFrame to only cities that start with "N"
cities_starting_N = world_cities[world_cities["city"].str.startswith("N")]

# Display the cities
cities_starting_N

After looking at cities_starting_N, I choose Nuba in Palestine.

#### Subset the five biggest cities from the country where your selected city is (Palestine)

In [ ]:
# Filter the DataFrame for cities in Palestine
palestine_cities = world_cities[world_cities["country"] == "Palestine"]

In [ ]:
# Sort the cities by population in descending order by using .sort_values to sort by value and ascending=False to make the largest population come first
palestine_cities_sorted = palestine_cities.sort_values(by="pop_M", ascending=False)

In [ ]:
# Select the top 5 cities in the new sorted DataFrame
top5_palestine = palestine_cities_sorted.head(5)

# Print the results
top5_palestine

## Part 3: GeoPandas and Raster Rio

### 3.1 Load the required data in your Drive

In [ ]:
# Mount drive to access data
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Install python packages
!pip install contextily

In [ ]:
!pip install mapclassify

In [ ]:
!pip install earthpy rasterio

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import geopandas as gpd
import contextily as ctx
import rasterio as rio
from rasterio import plot

### 3.2 Practicing GeoPandas

#### 3.2.1 Read the Census20_LSOA.shp layer into a GeoDataFrame.

In [ ]:
#Read the Census20_LSOA.shp layer into a GeoDataFrame.
census20_LSOA = gpd.read_file('/content/drive/MyDrive/Colab Notebooks/london_data/Census20_LSOA.shp')

# Make sure that the file loaded correctly
census20_LSOA.head()

#### 3.2.2 Subset the following columns (plus the geometry!):

* LSOA11CD --> LSOA area code
* LSOA11NM --> LSOA area name
* LSOA11NMW --> LSOA bigger area
* Pop20 --> Population counts

In [ ]:
#Create new GeoDataFrame with only the columns LSOA11CD, LSOA11NM, LSOA11NMW, Pop20, and geometry
subset_census20_LSOA = census20_LSOA[["LSOA11CD","LSOA11NM","LSOA11NMW","Pop20", "geometry"]]

#Make sure this worked properly
subset_census20_LSOA.head()

#### 3.2.3 What is the Coordinate Reference System of the layer?

In [ ]:
#Print the Coordinate Reference System of subset_census20_LSOA using .crs from the GeoPandas library
print(subset_census20_LSOA.crs)

#### 3.2.4 How many features does the layer contain? Write an expression that returns the result as int.

In [ ]:
#Print the number of rows of subset_census20_LSOA as an integer using .shape[0]
print(int(subset_census20_LSOA.shape[0]))

#### 3.2.5 The values in the "LSOA11CD" column (code area ID) should all be unique. How can you make sure?

In [ ]:
# Check whether all values in the 'LSOA11CD' column are unique with .is_unique (returns True if all values are unique)
print(subset_census20_LSOA['LSOA11CD'].is_unique)

#### 3.2.6 Plot the layer using the .plot method

In [ ]:
#Plot subset_census20_LSOA using .plot()
subset_census20_LSOA.plot()

#### 3.2.7 Plot the layer using the .explorer method

In [ ]:
# Plot subset_census20_LSOA using .explore()
subset_census20_LSOA.explore()

#### 3.2.8 Subset just the LSOA areas with Pop20 counts greater than 1500

In [ ]:
#Subset just the LSOA areas with Pop20 counts greater than 1500
High_pop = subset_census20_LSOA[subset_census20_LSOA["Pop20"] > 1500]

#Make sure the new GeoDataFrame is correct
High_pop.head()

#### 3.2.9 Plot the resulting subset, using symbology according to total population size, i.e., the "Pop_Total" column, and using a sequentual color map such as "Reds".

In [ ]:
#Plot High_pop according to total population size using .explore()
High_pop.explore(column='Pop20', cmap='Reds', legend=True,  style_kwds={'weight': 0.5,'color': 'black'})
# I chose to color the polygons by population using the sequential color map 'Reds.'
# I added black borders to make the boundaries more visible

#### 3.2.10 How many areas are there with the requested population?

In [ ]:
#Print the number of rows in High_Pop using .shape[0]
print(High_pop.shape[0])

#### 3.2.11 What is the total population of the subset layer?

In [ ]:
#Print the sum of all of the values in the column 'Pop20' in High_pop using .sum()
print(High_pop['Pop20'].sum())

### 3.3 Practicing Rasterio

In [ ]:
# Install the EarthPy library
!pip install earthpy

In [ ]:
# Import EarthPy and its spatial and plotting modules
import earthpy as et
import earthpy.spatial as es
import earthpy.plot as ep

#### 3.3.1 Read the file as a rasterio dataset

In [ ]:
#Define raster by opening the raster image <https://storage.googleapis.com/gcp-public-data-landsat/LC08/01/046/027/LC08_L1TP_046027_20181224_20190129_01_T1/LC08_L1TP_046027_20181224_20190129_01_T1_B8.TIF> using rasterio
raster = rio.open('/content/drive/MyDrive/Colab Notebooks/Copy of Clipped_Raster.tif')

#### 3.3.2 What is the CRS of the dataset?

In [ ]:
#Print the CRS of the dataset using .crs
print(raster.crs)

#### 3.3.3 What is the raster extent (bounds) of the dataset in projected coordinates?

In [ ]:
#Print the extent of raster using .bounds
print(raster.bounds)

#### 3.3.4 How many bands are there in this dataset?

In [ ]:
# Print the number of bands in raster using .count
print(raster.count)

#### 3.3.5 Create a plot of the image

In [ ]:
#Create a plot of the image
# Define raster_arr (a NumPy array) as the first band of raster
raster_arr = raster.read(1)

# Display the array
raster_arr

In [ ]:
# Mask out zero values to improve visualization
image_read_masked = np.ma.masked_array(raster_arr, mask=(raster_arr == 0))

# Set figure size for the plot
plt.rcParams['figure.figsize'] = [10, 8]

# Display the raster band using a grayscale colormap
plt.imshow(image_read_masked, cmap="gist_gray")

#### 3.3.6 Create a histogram from the raster

In [ ]:
# Plot a histogram of the raster values
ep.hist(raster_arr, colors='Purple', title='Histogram')

# Display histogram
plt.show()

#### 3.3.7 Using EarthPy create a plot of false color (if you have an issue whith this, please describe the potential cause)

This is the code I used, which created an error:
```
ep.plot_rgb(raster_arr,
            rgb=[3, 2, 1],
            stretch=True,
            str_clip=10)
plt.show()
```

There was an error because you cannot create a false-color plot with just one band. To fix this, I would need a raster file that contains at least three bands.

## Part 4: Spatial Clustering (K-Means - DBSCAN)

### 4.1 Get the required data in your Drive

I put data in my drive.

### 4.2 Exploratory Data Analysis and K-means Clustering

Install additional libraries like Lonboard to display large datasets.

In [ ]:
!pip install lonboard

In [ ]:
# Import necessary libraries
from sklearn.cluster import KMeans, DBSCAN
import matplotlib.pyplot as plt
import shapely
import folium
import seaborn as sns
from lonboard import Map, ScatterplotLayer, viz

#### 4.2 Part A: Data Exploration and Pre-Processing

##### 4.2A.1 Use pandas to load the car accidents dataset

In [ ]:
# Define accident_data as a DataFrame by reading UK_Accident.csv
accident_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Road_Accidents_UK/UK_Accident.csv")

##### 4.2A.2 Display the first few rows to understand the available attributes.

In [ ]:
# Display the first few rows of accident_data by using .head()
accident_data.head()

##### 4.2A.3 Keep only the necessary columns, have a mix of Numerical and Categorical attributes

In [ ]:
# Look at all the columns to choose the necessary attributes
accident_data.columns

In [ ]:
# Create a list of the columns I want to keep
keep_cols = ["Accident_Index", "Longitude", "Latitude", "Date", "Day_of_Week", "Time", "Accident_Severity", "Number_of_Casualties", "Local_Authority_(District)", "Light_Conditions", "Road_Surface_Conditions", "Urban_or_Rural_Area", "LSOA_of_Accident_Location", "Year",]
# Subset accident_data so it only contains the columns in keep_cols
accident_data = accident_data[keep_cols]
# Display the first few rows to make sure the Dataframe was subsetted correctly
accident_data.head()

##### 4.2A.4 Slice (cut) the pandas dataframe by including only records from 2010, which will reduce your dataset to approx 770585 rows.

In [ ]:
# Subset accident_data to include only records from the year 2010 onward
accident_data_2010 = accident_data[accident_data['Year'] >= 2010]

# Print the number of rows to make sure there are approx 770585
print(accident_data_2010.shape[0])

# Show the first few rows make sure the dates are 2010 onward
accident_data_2010.head()

##### 4.2A.5 Make a simple plot to represent which day of the week historically has had more car accidents. Which day?

In [ ]:
# Count accidents per day of the week
accidents_per_day = accident_data_2010["Day_of_Week"].value_counts().sort_index()

# Plot accident frequency by day of the week
plt.figure(figsize=(10, 6))
accidents_per_day.plot(kind='bar')

plt.title("Number of Car Accidents by Day of the Week (2010+)")
plt.xlabel("Day of the Week")
plt.ylabel("Number of Accidents")
plt.show()

# Print the day with the most accidents
most_accidents_day = accidents_per_day.idxmax()
print("Day with the most accidents: Day", most_accidents_day)

##### 4.2A.6 Make a second plot to explore the relationship between Accident Severity and Road Conditions. What insights can you gain about that?. Use a Text Cell reflecting on the previous charts.

In [ ]:
# Count accidents by Road Surface Conditions and Accident Severity
severity_vs_road = accident_data_2010.groupby(['Road_Surface_Conditions', 'Accident_Severity']).size().unstack()

# Plot as a stacked bar chart
severity_vs_road.plot(kind='bar', stacked=True, figsize=(12, 6), colormap='Reds')
plt.xlabel("Road Surface Conditions")
plt.ylabel("Number of Accidents")
plt.title("Accident Severity vs Road Surface Conditions (2010+)")
plt.legend(title="Accident Severity")
plt.show()

The histogram shows that most accidents occur on dry roads, followed by wet/damp and frost/ice conditions. Accidents of all severities generally follow this same pattern. While the absolute number of severe (3) and less severe (2) accidents is higher on dry roads than on wet roads, the proportion of severe accidents is actually higher on wet roads than on dry roads.

##### 4.2A.7 Using Lonboard Library map all the car accidents included in the filtered dataset

In [ ]:
# Construct the GeoDataFrame
geometry = gpd.points_from_xy(accident_data_2010.Longitude, accident_data_2010.Latitude)
accident_gdf = gpd.GeoDataFrame(accident_data_2010, geometry=geometry, crs="EPSG:4326")

#Make sure it is constructed correctly
accident_gdf.head()

In [ ]:
viz(accident_gdf)

##### 4.2A.8 Make a spatial filter (create a new dataset) to map only the car accidents In the Glasgow-Edinburgh Region, create another map using the lonboard library to display the car accidents only in that region.

In [ ]:
# Define bounding box for Glasgow-Edinburgh region: (min_lon, min_lat, max_lon, max_lat)
ge_bbox = [    -4.721,55.735,-2.785,56.02]

# Slice accident_gdf based on new boundaries and explicitly create a copy
glasgow_edinburgh_accidents = accident_gdf[accident_gdf.intersects(shapely.box(*ge_bbox))].copy()

# Check new dataset
glasgow_edinburgh_accidents.head()

In [ ]:
# Map the filtered accidents using viz()
viz(glasgow_edinburgh_accidents)

#### 4.2 Part B K-means Clustering Implementation

##### 4.2B.1 Implement K-means clustering with different values of k. (e.g 3 and 5 clusters) To the filtered dataset you have created for the Glasgow-Edinburgh region.

In [ ]:
# Initialize KMeans with 3 clusters and a random seed for reproducibility
kmeans3 = KMeans(n_clusters=3, random_state=42)

# Assign each data point to the cluster of the nearest centroid
glasgow_edinburgh_accidents['kmeans_3'] = kmeans3.fit_predict(
    glasgow_edinburgh_accidents[['Longitude', 'Latitude']]
)

# Initialize KMeans with 5 clusters and a random seed for reproducibility
kmeans5 = KMeans(n_clusters=5, random_state=42)

# Assign each data point to the cluster of the nearest centroid
glasgow_edinburgh_accidents['kmeans_5'] = kmeans5.fit_predict(
    glasgow_edinburgh_accidents[['Longitude', 'Latitude']]
)

#Verify the columns kmeans_5 and kmeans_3 were created
glasgow_edinburgh_accidents.head()

##### 4.2B.2 Map the clusters using the lonboard library

In [ ]:
import plotly.express as px

#Map according to the 3 clusters
fig_kmeans3 = px.scatter_mapbox(
    glasgow_edinburgh_accidents,
    lat="Latitude",
    lon="Longitude",
    color="kmeans_3",
    mapbox_style="carto-positron",
    zoom=9,
    title="K-means Clustering (k=3) of Accidents in Edinburgh-Glasgow (2010+)",
    height=700,
    opacity=0.5,

)

fig_kmeans3.show()

#Map according to the 5 clusters
fig_kmeans5 = px.scatter_mapbox(
    glasgow_edinburgh_accidents,
    lat="Latitude",
    lon="Longitude",
    color="kmeans_5",
    mapbox_style="carto-positron",
    zoom=9,
    title="K-means Clustering (k=5) of Accidents in Edinburgh-Glasgow (2010+)",
    height=700,
    opacity=0.5,

)

fig_kmeans5.show()

##### 4.2B.3 Describe in a Text Cell the clustering results. How does the choice of k impact the clusters?. Describe how the clusters change once you adjust multiple versions of that required parameter.

The clustered results reveal how accident clusters consistently appear around urban centers (Glasgow and Edinburgh).The smaller k (3) gives a general overview of hotspots but can obscure local patterns. The larger k (5) provides more detail but, in this case, may over-segment the data, making it harder to interpret the broader trend.

##### 4.2B.4 Finally: In the guideline, we worked using only the coordinates to create the clusters (['Longitude', 'Latitude']), in another code cell, implement K-means clustering again, but now using the attributes included in the dataframe like Accident_Severity, Number_of_Vehicles.

In [ ]:
#Select attributes to use for clustering
features = glasgow_edinburgh_accidents[['Accident_Severity', 'Number_of_Casualties']]

# Standardize the features so that each has mean 0 and variance 1
# This avoids attributes with larger ranges dominating the clustering
#scaler = StandardScaler()
#features_scaled = scaler.fit_transform(features)

# Initialize KMeans with 3 clusters for example
kmeans_attr = KMeans(n_clusters=3, random_state=42)

# Fit KMeans and assign clusters based on accident attributes
glasgow_edinburgh_accidents['kmeans_attr'] = kmeans_attr.fit_predict(features)

# Check results
glasgow_edinburgh_accidents.head()

##### 4.2B.5 Visualise the results using the lonboard library.

In [ ]:
# Visualize clusters based on accident attributes on the map
fig_attr_clusters = px.scatter_mapbox(
    glasgow_edinburgh_accidents,
    lat="Latitude",
    lon="Longitude",
    color="kmeans_attr",
    mapbox_style="carto-positron",
    zoom=9,
    title="K-means Clustering (k=3) for Attributes: Severity & Casualties in Glasgow-Edinburgh (2010+)",
    height=700,
    opacity=0.5,
)

# Show map
fig_attr_clusters.show()

##### 4.2B.6 In a Text Cell, reflect on the clusters that include only the coordinates and the ones that also include other attributes. What insights can you gain about that?

When clustering using only the coordinates (Longitude and Latitude), the K-means algorithm groups accidents purely based on their spatial proximity. As a result, clusters tend to form around dense urban areas. When I included Accident_Severity and Number_of_Casualties, the clusters are influenced, not only by location, but also by the characteristics of the accidents. This allows me to identify areas where more severe accidents are more likely, even if those areas are not the densest in terms of accident counts.

### 4.3 Spatial Analysis and DBSCAN Clustering

#### 4.3 Part A: Spatial Correlation

##### 4.3.1 Create another GeoPandas Dataframe by rereading the data to avoid any confusion with the previous geodataframe. This new one is about DBSCAN name it accordingly.

In [ ]:
#Make a new GeoDataFrame by making a copy of accident_data_2010 using .copy()
accident_gdf_dbscan = accident_gdf.copy()

##### 4.3.2 Using the BBox website, filter the new geodataframe to contain only the accidents around Birmingham.

In [ ]:
# Define bounding box for Birmingham region: (min_lon, min_lat, max_lon, max_lat)
birm_bbox = [-2.7,52.16,-1.12,52.8]

# Slice accident_gdf based on new boundaries and explicitly create a copy
birm_accidents_dbscan = accident_gdf_dbscan[accident_gdf_dbscan.intersects(shapely.box(*birm_bbox))].copy()

# Check new dataset
birm_accidents_dbscan.head()

##### 4.3.3 Using the Lonboard library, map the filtered dataset in Birmingham.

In [ ]:
# Map the filtered accidents using viz()
viz(birm_accidents_dbscan)

##### 4.3.4 In a code cell, investigate the data type of the attribute list, so you can identify which attributes are numerical and which are categorical. Tip: use .dtypes

In [ ]:
#Display the data types of all columns
birm_accidents_dbscan.dtypes

##### 4.3.5 In a code cell. Run the correlation between the numerical attributes by including in your code corr= your_dataframe.corr()

In [ ]:
# Only include numerical columns to avoid errors with non-numeric data
numerical_cols = birm_accidents_dbscan.select_dtypes(include='number')
corr_matrix = numerical_cols.corr()

# Display the correlation matrix
corr_matrix

##### 4.3.6 In a new Code Cell, adjust the following code to create a heatmap plot of your correlation values.

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(
    corr_matrix,  #I changed this from your_corr_variable to corr_matrix
    annot=True,
    cmap='coolwarm',
    fmt='.2f',
    linewidths=0.5,
    cbar_kws={'label': 'Correlation Coefficient'}
)

plt.title('Pearson -Correlation Matrix')
plt.show()

##### 4.3.7 Install the library **pysal** by running in a code cell: `pip install pysal `

In [ ]:
pip install pysal

##### 4.3.8 Now import the new and requieres libraries.

In [ ]:
import libpysal.weights as weights
from esda.moran import Moran

##### 4.3.9 You must reproject your dataset (recall the EPSG code you used in the guideline notebook to study spatial data in the UK)

In [ ]:
# Print the current CRS
print(birm_accidents_dbscan.crs)

In [ ]:
# Reproject the Birmingham accidents GeoDataFrame to EPSG:27700
birm_accidents_dbscan_27700 = birm_accidents_dbscan.to_crs(epsg=27700)

# Verify conversion
birm_accidents_dbscan_27700.crs

In [ ]:
w = weights.DistanceBand.from_dataframe(birm_accidents_dbscan_27700, threshold=500, ids=birm_accidents_dbscan_27700.index, silence_warnings=True)
w.transform = 'R'
moran = Moran(birm_accidents_dbscan_27700['Accident_Severity'], w)

print(f"\n--- Moran's I Spatial Autocorrelation Analysis ---")
print(f"Defined {w.n} observations and {w.mean_neighbors:.2f} average neighbors per point.")
print(f"\nMoran's I Statistic (Observed I): {moran.I:.4f}")
print(f"P-value (significance): {moran.p_sim:.4f}")

##### 4.3.10 In a Text Cell, describe with your own words the results., What insights can you gain from the correlation analysis.

**Average neighbors = 40.49:** This means that each accident location has about 40 nearby points within 500 meters. This gives context to the calculation for Moran's I.

**Moran's I Statistic= 0.0208:** This value is positive but very close to zero. This means that there is a very weak positive spatial correlation. In other words, locations with high accident severity are very slightly more likely to be near other locations with high severity.

**P-value = 0.0010:** This is statistically significant. This means that even though the correlation is weak, it is unlikely due to random chance.

#### 4.3 Part B: DBSCAN Clustering Implementation

##### 4.3.1 Implement DBSCAN clustering with different eps and min_samples to the projected dataset.

In [ ]:
#Extract X and Y coordinates to use in DBSCAN
birm_accidents_dbscan_27700['geometry_x']=birm_accidents_dbscan_27700.geometry.x
birm_accidents_dbscan_27700['geometry_y']=birm_accidents_dbscan_27700.geometry.y

In [ ]:
#Define DBSCAN parameters

# Example 1 (small radius, medium min)
eps_radius_1 = 50
min_samples_1 = 40

#Example 2 (medium radius, medium min)
eps_radius_2 = 200
min_samples_2 = 40

# Example 3 (large radius, medium min)
eps_radius_3 = 300
min_samples_3 = 40

# Example 4 (medium radius, small min)
eps_radius_4 = 200
min_samples_4 = 10

#Example 5 (medium radius, medium min)
eps_radius_5 = 200
min_samples_5 = 40

# Example 6 (medium radius, large min)
eps_radius_6 = 300
min_samples_6 = 70

In [ ]:
#Run DBSCAN with different parameters

# Initialize DBSCAN clustering using parameters above

#Example 1
dbscan_1 = DBSCAN(
    eps=eps_radius_1,
    min_samples=min_samples_1
)
birm_accidents_dbscan_27700['dbscan_labels_radius50m'] = dbscan_1.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)

#Example 2
dbscan_2 = DBSCAN(
    eps=eps_radius_2,
    min_samples=min_samples_2
)

birm_accidents_dbscan_27700['dbscan_labels_radius200m'] = dbscan_2.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)
#Example 3
dbscan_3 = DBSCAN(
    eps=eps_radius_3,
    min_samples=min_samples_3
)
birm_accidents_dbscan_27700['dbscan_labels_radius300m'] = dbscan_3.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)

#Example 4
dbscan_4 = DBSCAN(
    eps=eps_radius_4,
    min_samples=min_samples_4
)
birm_accidents_dbscan_27700['dbscan_labels_min10'] = dbscan_4.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)

#Example 5
dbscan_5 = DBSCAN(
    eps=eps_radius_5,
    min_samples=min_samples_5
)
birm_accidents_dbscan_27700['dbscan_labels_min40'] = dbscan_5.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)

#Example 6
dbscan_6 = DBSCAN(
    eps=eps_radius_6,
    min_samples=min_samples_6
)
birm_accidents_dbscan_27700['dbscan_labels_min70'] = dbscan_6.fit_predict(
    birm_accidents_dbscan_27700[['geometry_x', 'geometry_y']]
)

#Verify new columns
birm_accidents_dbscan_27700.head()

##### 4.3.2 Map the clusters using the Plotly Library

In [ ]:
import plotly.express as px

In [ ]:
# Create the maps using Plotly Express

#Map 1 — DBSCAN with small radius and medium min
fig_dbscan_radius50m = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_radius50m",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=50m, min_samples=40) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

#Map 2 — DBSCAN with medium radius and medium min
fig_dbscan_radius200m = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_radius200m",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=200m, min_samples=40) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

#Map 3 — DBSCAN with large radius and medium min
fig_dbscan_radius300m = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_radius300m",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=300m, min_samples=40) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

#Map 4 — DBSCAN with medium radius and small min
fig_dbscan_min10 = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_min10",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=200m, min_samples=10) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

#Map 5 — DBSCAN with medium radius and medium min
fig_dbscan_min40 = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_min40",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=200m, min_samples=40) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

#Map 3 — DBSCAN with medium radius and large min
fig_dbscan_min70 = px.scatter_mapbox(
    birm_accidents_dbscan_27700,
    lat="Latitude",
    lon="Longitude",
    color="dbscan_labels_min70",
    mapbox_style="carto-positron",
    zoom=9,
    title="DBSCAN Clustering (eps=200m, min_samples=70) in Birmingham (2010+)",
    height=700,
    opacity=0.5
)

In [ ]:
#Show maps

# Map 1
fig_dbscan_radius50m.show()
# Map 2
fig_dbscan_radius200m.show()
# Map 3
fig_dbscan_radius300m.show()
# Map 3
fig_dbscan_min10.show()
# Map 3
fig_dbscan_min40.show()
# Map 3
fig_dbscan_min70.show()

##### 4.3.3 Describe in a Text Cell the clustering results. How does the choice of eps and min_samples impact the clusters?. Describe how the clusters change once you adjust multiple versions of that required parameter.

While the eps controls the physical scale of clusters, the min_samples control how dense a location must be to count as a hotspot. In my maps, I noticed how the plots with smaller eps show almost no hotspots, and large eps show clusters that merge into broad regional hotspots. In terms of the min_samples, Map 4 (with a low minimum of 10) show many small, local clusters while Map 6 (with a high minimum of 70) only highlights the strongest and densest hotspots. Overall, these maps illustrate perfectly how DBSCAn can be tuned to detect either neighborhood-level accident risk or only the small extreme clusters.

##### 4.3.4  In a Text Cell, briefly reflect on the clusters created using K-Means and the ones generated with DBSCAN. What insights can you gain from that?, Do you see any limitations?

K-Means produces a fixed number of clusters, forcing all accidents into groups even where no true hotspot exists. This can distort real accident concentrations, especially along long roads or irregular intersections. This is a real limitation of K-means. For this reason, K-means is best for identifying centroid-based groupings. In contrast, DBSCAN identifies clusters based on actual density patterns and can find irregularly shaped hotspots that follow road networks. I found that DBSCAN's main limitation is its sensitivity to parameter choices. Small changes in eps and min_samples can dramatically change the output and obscure important clusters and hotspots.

##### 4.3.5 Finally, in a new text cell address the following question: What do you think are the real-world implications of the identified clusters in the field of urban planning?

These accident clusters have strong real-world implications for urban planning. Identifying hotspots helps planners prioritise locations for road redesign, new signage, speed-calming measures, improved lighting, or pedestrian crossings. Furthermore, cluster analysis also shows where resources should be allocated by identifying certain disadvantaged regions. Overall, these spatial patterns help planners make data-driven decisions to reduce future accidents and improve equity.